/*
 * Sheetleeten "calc" theme.
 */

/*
 * Font imports, referenced below.
 * See https://developers.google.com/fonts/docs/getting_started.
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Inconsolata&display=swap&subset=Latin");
@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap&subset=Latin&text=$headline");

:root {
    /* HSL - based palette generation */
    --startH: 20deg;
    --stepH: 60deg;
    --startS: 10%;
    --scaleS: 1.2;
    --startL: 85%;
    --scaleL: 0.6;

    /* Fonts, imported above */
    --variable-font: "Montserrat", sans-serif;
    --fixed-font: "Inconsolata", monospace;
    --headline-font: "Cinzel";

    /* Divider style: size + dotted, dashed, solid or none */
    --divider-style: 0.5px dashed;

    /* Heading decoration style: size + dotted, dashed, solid or none */
    --heading-decoration: none;
}
